<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Create Puppy</title>
</head>
<body>
	<h1>Create Puppy </h1>
	<form method="POST" action="/new">
		<h3>Puppy Name:<input type="text" name="name">
		<h3>Puppy Breed:<input type="text" name="breed">
		<h3>Puppy Age:<input type="text" name="age">
		<h3><input type="submit" id="submit"></h3>

	</form>
</body>
</html>