
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
      <li>Puppy Name: <%= @puppy.name %></li>
      <li>Puppy Breed: <%= @puppy.breed %></li>
      <li>Puppy Age: <%= @puppy.age.to_s %></li>
    </ul>
  </body>
</html>
